<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation=
        "http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

<!--    <context:component-scan base-package="ru.gb.trishkin.lesson1.context"/>-->

    <bean id="blankCartridge" class="ru.gb.trishkin.lesson1.context.BlankCartridge" />

    <bean id="weapon" class="ru.gb.trishkin.lesson1.context.WeaponImpl">
<!--        <constructor-arg type="ru.gb.trishkin.lesson1.context.Ammunition" index="0" ref="liveCartridge"/>-->
        <constructor-arg type="ru.gb.trishkin.lesson1.context.Ammunition" index="0" ref="blankCartridge"/>
    </bean>

</beans>